{% extends 'main.html.twig' %}
{% block body %}
    <title>test</title>
</head>
<body>
<br>
<br>
<center><H1>Liste de l'ensemble des passagers</H1></center>
<center>
    <table class="table table-hover">
        <thead>

        <tr class="table-info">
            <th scope="col"> Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
        </tr>
        </thead>
        {% for i in data %}
          <tr class="table-light">
                <td><p class="text-primary"><b>{{ i.id }}</b></p></td>
                <td><p class="text-primary"><b>{{ i.nom }}</b></p></td>
                <td><p class="text-primary"><b>{{ i.prenom }}</b></p></td>
                <td><p class="text-primary"><b>{{ i.email }}</b></p> </td>
                <td><p class="text-primary"><b>{{ i.telephone }}</b></p></td>
            </tr>
            <p>
        {% endfor %}


<br>

    <tr>

    </tr>


</table>
    <br>
    Voir le dossier d'un passager
    <br>
    <div class="form-group">
    <form action="/affichageInfoVoyage" method="get">
        <label>
            <SELECT class="custom-select" NAME="listeP">
                {% for i in data %}
                <OPTION VALUE={{ i.id }} >  {{ i.id }}  : {{ i.nom}} {{ i.prenom }}
                    {% endfor %}
            </SELECT>
        </label>

        <br>
           <center> <button type="submit" class="btn btn-danger btn-sm">Voir les informations</button></center>

    </form>
    </div>

    <br>
    Voir les passagers ayant voyagé avec un passager donné
    <br>

    <div class="form-group">
    <form action="/affichagePassagersPourUnPassager" method="get">
        <label>
            <SELECT class="custom-select" NAME="listeP">
                {% for i in data %}
                <OPTION VALUE={{ i.id }} >  {{ i.id }}  : {{ i.nom}} {{ i.prenom }}
                    {% endfor %}
            </SELECT>
        </label>

        <br>
        <center> <button type="submit" class="btn btn-danger btn-sm ">Voir les passagers</button> </center>
    </form>
    </div>
</center>

</body>
{% endblock %}