<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <title>test</title>
</head>
<body>

<center><H1>Liste de l'ensemble des passagers</H1></center>
<center>
    <table border="black">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Telephone</th>
        </tr>
        {% for i in data %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.nom }}</td>
                <td>{{ i.prenom }}</td>
                <td>{{ i.email }} </td>
                <td>{{ i.telephone }}</td>
            </tr>
        {% endfor %}


<br>

    <tr>

    </tr>


</table>
    <br>
    Voir le dossier d'un passager
    <br>

    <form action="/affichageInfoVoyage" method="get">
        <label>
            <SELECT NAME="listeP">
                {% for i in data %}
                <OPTION VALUE={{ i.id }} >  {{ i.id }}  : {{ i.nom}} {{ i.prenom }}
                    {% endfor %}
            </SELECT>
        </label>

            <button type="submit">Voir les informations</button>

    </form>


    <br>
    Voir les passagers ayant voyagé avec un passager donné
    <br>

    <form action="/affichagePassagersPourUnPassager" method="get">
        <label>
            <SELECT NAME="listeP">
                {% for i in data %}
                <OPTION VALUE={{ i.id }} >  {{ i.id }}  : {{ i.nom}} {{ i.prenom }}
                    {% endfor %}
            </SELECT>
        </label>

        <button type="submit">Voir les passagers</button>

    </form>
</center>

</body>
</html>