
{% extends 'main.html.twig' %}
{% block body %}


    <title>Ajouter un dossier client</title>
</head>
<body>

<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<fieldset>
    <legend>Veuillez choisir un client</legend>
    <form action="/newDossier" method="get" >

    <div class="form-group">
        <select class="custom-select" NAME="listeP" >
            {% for i in pass %}
            <OPTION VALUE={{ i.id }} >  {{ i.id }}  : {{ i.nom}} {{ i.prenom }}
                {% endfor %}
        </select>

    </div>

        <legend>Veuillez choisir un voyage</legend>
        <div class="form-group">
            <select class="custom-select"  NAME="listeV">
                {% for i in voyage %}
                <OPTION VALUE={{ i.idVoyage }} >  {{ i.idVoyage }}  : {{ i.lieu_depart}} {{ i.lieu_arrivee }} le {{ i.date }}
                    {% endfor %}
            </select>

        </div>
        <button class="btn btn-primary btn-lg" type="submit" > Enregistrer </button>

    </form>
</fieldset>
</center>

</body>
{% endblock %}