
{% extends 'main.html.twig' %}
{% block body %}
<title>test</title>
</head>
<body>

<br>
<br>
<center>
    {% for i in pass %}
        <center>
            <b> <u> <H1>Voici les informations du client {{ i.nom }} {{ i.prenom }} </u> </b></H1></center>
        <b> Nom du client  : </b> {{ i.nom }} <br>
    <b> Prénom du client : </b> {{ i.prenom }} <br>

        {% if i.email != null %}
        <b> Email du client :</b> {{ i.email }} <br>
        {% endif %}

        {% if i.telephone != null %}
            <b> Téléphone du client : </b>{{ i.telephone }} <br>
        {% endif %}
    {% endfor %}

    <br>

    <table class="table table-hover">
        <tr class="table-info">
            <th>Référence dossier</th>
            <th>Numéro du voyage</th>
            <th>Date du voyage</th>
        </tr>
        {% for i in dossier %}
        <tr class="table-light">
            <td><p class="text-primary"><b>{{ i.reference_dossier }} </b> </p> </td>
            <td> <p class="text-primary"><b>{{ i.voyage }} </b> </p></td>
            <td><p class="text-primary"><b>{{ i.date }} </b> </p></td>
        </tr>
    {% endfor %}

    </table>
    </center>

 </body>
{% endblock %}