
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <title>test</title>
</head>
<body>

<center>
    {% for i in pass %}
        <center>
            <b> <u> <H1>Voici les informations du client {{ i.nom }} {{ i.prenom }} </u> </b></H1></center>
            Nom du client : {{ i.nom }} <br>
            Prénom du client : {{ i.prenom }} <br>

        {% if i.email != null %}
            Email du client : {{ i.email }} <br>
        {% endif %}

        {% if i.telephone != null %}
            Téléphone du client : {{ i.telephone }} <br>
        {% endif %}
    {% endfor %}

    <br>
    <center><H4> <b>Voici ces voyages </b></H4></center>
    <table border="black">
        <tr>
            <th>Référence dossier</th>
            <th>Numéro du voyage</th>
            <th>Date du voyage</th>
        </tr>
        {% for i in dossier %}
        <tr>
            <td>{{ i.reference_dossier }} </td>
            <td> {{ i.voyage }} </td>
            <td>{{ i.date }} </td>
        </tr>
    {% endfor %}

    </table>
    </center>
 </body>
</html>