{% extends 'main.html.twig' %}
{% block body %}
    <title>test</title>
</head>
<body>

<center>

    <center><H1>Voici les passagers du même voyages que le passager {{numPass}} </H1>
    </center>


    <table class="table table-hover">
        <tr class="table-info">

            <th>Identifiant</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Email</th>
        </tr>


        {% for i in passagers %}
            <tr class="table-light">

                <td><p class="text-primary"><b>{{ i.id}} </b></p>  </td>
               <td><p class="text-primary"><b>{{ i.nom }} </b></p>  </td>
                <td> <p class="text-primary"><b>{{ i.prenom }} </b></p> </td>

                {% if i.telephone == null %}
                    <td><p class="text-primary"><b> Non renseigné </b></p> </td>
                {% else %}
                    <td><p class="text-primary"><b>{{ i.telephone }} </b></p> </td>
                {% endif %}


                {% if i.email == null %}
                    <td> <p class="text-primary"><b>Non renseigné</b></p>  </td>
                {% else %}
                    <td><p class="text-primary"><b>{{ i.email }} </b></p> </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</center>
</body>
{% endblock %}