{% extends 'main.html.twig' %}
{% block body %}
    <title>test</title>
</head>
<body>

<center>


        <center><H1>Voici les clients du voyage numéro  {{numero}} </H1>
        </center>


    <table class="table table-hover">
        <tr class="table-info">

            <th>Identifiant</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Email</th>
        </tr>

        {% for i in pass %}
        <tr class="table-light">
            <td>{{ i.id }} </td>
            <td>{{ i.nom }} </td>
            <td> {{ i.prenom }} </td>

            {% if i.telephone == null %}
                <td> Non renseigné </td>
            {% else %}
                <td>{{ i.telephone }} </td>
            {% endif %}


            {% if i.email == null %}
                <td> Non renseigné </td>
            {% else %}
                <td>{{ i.email }} </td>
            {% endif %}
        </tr>
        {% endfor %}


    </table>
</center>
</body>
{% endblock %}