<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <title>test</title>
</head>
<body>

<center>




    <table border="black">
        <tr>

            <th>Identifiant</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Email</th>
        </tr>


        {% for i in passagers %}
            <tr>

                <td>{{ i.id}} </td>
               <td>{{ i.nom }} </td>
                <td> {{ i.prenom }} </td>

                {% if i.telephone == null %}
                    <td> Non renseigné </td>
                {% else %}
                    <td>{{ i.telephone }} </td>
                {% endif %}


                {% if i.email == null %}
                    <td> Non renseigné </td>
                {% else %}
                    <td>{{ i.email }} </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>