{% extends 'main.html.twig' %}
{% block body %}
    <title>test</title>
</head>
<body>

<center><H1>Liste de l'ensemble des voyages</H1></center>
<center>
    <table class="table table-hover">
        <tr class="table-info">
            <th>Numéro du voyage</th>
            <th>Date</th>
            <th>Type</th>
            <th>Code</th>
            <th>Départ</th>
            <th>Arrivée</th>
        </tr>
        {% for i in data %}
            <tr class="table-light">
                <td><p class="text-primary"><b>{{ i.idVoyage }}</b></p></td>
                <td><p class="text-primary"><b>{{ i.date }}</b></p></td>
                <td><p class="text-primary"><b>{{ i.type}}</b></p></td>
                <td><p class="text-primary"><b>{{ i.num_transport }}</b></p> </td>
                <td><p class="text-primary"><b>{{ i.lieu_depart }}</b></p></td>
                <td><p class="text-primary"><b>{{ i.lieu_arrivee }}</b></p></td>
            </tr>
        {% endfor %}

        <br>

        <tr>

        </tr>


    </table>

    <br>
    Voir les passagers d'un voyage
    <br>

    <div class="form-group">
    <form action="/affichagePassagersTransport" method="get">
        <label>
            <SELECT class="custom-select" NAME="listeV">
                {% for i in data %}
                <OPTION VALUE={{ i.idVoyage }} >  {{ i.idVoyage }}  : {{ i.lieu_depart}} {{ i.lieu_arrivee }}
                    {% endfor %}
            </SELECT>
        </label>
       <br>

        <center><button type="submit" class="btn btn-danger btn-sm">Voir les passagers</button></center>

    </form>
    </div>

</center>

</body>
{% endblock %}